<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="rock1" src="rock1.obj" />
  </assets>
  <entities>
    <entity tag="rock1.obj" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <entity tag="SP_Mountain01_Mat" position="0.000,0.000,0.000" rotation="0.000,-0.000,0.000" scale="1.000,1.000,1.000">
        <components>
          <renderer model="rock1" mesh="0" color="27,112,187" />
        </components>
      </entity>
    </entity>
  </entities>
</template>
