<?xml version="1.0" encoding="UTF-8"?>
<template>
  <assets>
    <model id="rock6" src="rock6.gltf" />
  </assets>
  <entities>
    <entity tag="SP_Rock08_Mat" position="97.000,0.000,0.000" rotation="90.000,-0.000,0.000" scale="1.000,1.000,1.000">
      <components>
        <renderer model="rock6" mesh="0" color="30,30,30" />
      </components>
    </entity>
  </entities>
</template>
